<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org"
	xmlns:sec="https://www.thymleaf.org/thymleaf-extras-springsecurity5">

<head>
<meta charset="utf-8">
<title>Page d'accueil</title>
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>

<body>
	<div>
		<nav class="navbar navbar-expand navbar-light bg-light">
			<a class="navbar-brand" href="index">Gestion Cinema</a>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<a class="nav-item nav-link " href="index">Home</a> <a
						class="nav-item nav-link" href="cinema">Cinema</a> <a
						class="nav-item nav-link" href="film">Film</a> <a
						class="nav-item nav-link" href="place">Place</a> <a
						class="nav-item nav-link active" href="projection">Projection</a>
					<a class="nav-item nav-link" href="salle">Salle</a> <a
						class="nav-item nav-link" href="seance">Seance</a> <a
						class="nav-item nav-link" href="ticket">Ticket</a> <a
						class="nav-item nav-link" href="ville">Ville</a>

				</div>
			</div>
			<div class="float-rightt">
				<div class="dropdown show ">
					<a class="nav-item nav-link dropdown-toggle" href="#" role="button"
						id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false"> <span sec:authentication="name"></span>
					</a>

					<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
						<a class="dropdown-item" sec:authorize="!isAuthenticated()"
							th:href="@{login}">login</a> <a class="dropdown-item" sec:authorize="isAuthenticated()" th:href="@{logout}">Logout</a>
						<a class="dropdown-item" sec:authorize="isAuthenticated()" href="#">Profil</a>
					</div>
				</div>
			</div>
		</nav>
	</div>

	<div class="container mt-4">
		<div class="card">
			<div class="card-header">Liste des projections</div>
			<div class="card-body">
				<form class="form-inline" th:action="@{projection}" method="get">
					<div class="form-group mb-2 ml-2 mr-2">
						<label>nom film :</label> <input type="text" class="form-control"
							name="name" th:value="${name}" />
					</div>

					<button type="submit" class="btn btn-primary mb-2">
						<svg class="bi bi-search" width="1em" height="1em"
							viewBox="0 0 16 16" fill="currentColor"
							xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
								d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
                            <path fill-rule="evenodd"
								d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
                        </svg>
					</button>
					<button sec:authorize="hasRole('ROLE_ADMIN')" type="button"
						class="btn btn-success mb-2 ml-4" data-toggle="modal"
						data-target="#ajouter">
						<svg class="bi bi-plus-square" width="1em" height="1em"
							viewBox="0 0 16 16" fill="currentColor"
							xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
								d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z" />
                            <path fill-rule="evenodd"
								d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z" />
                            <path fill-rule="evenodd"
								d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                        </svg>
					</button>
				</form>
				<div class="row ">
					<div th:each="p:${pageProjections.Content}"
						class="col-mb-5 mb-2 w-50">
						<div style="Display: flex"
							class="card flex-md-row mb-2 shadow-sm h-md-250 mr-2 ml-2"
							th:id=" 'projection' + ${p.id}">
							<div class="card-body d-flex flex-column align-items-start ">
								<h3 class="mb-0 text-dark" th:text="${p.film.titre}"></h3>
								<div class="mb-1 text-muted"
									th:text="'date: '+${#dates.format(p.dateProjection, 'dd-MM-yyyy')}"></div>
								<div class="mb-1 text-muted"
									th:text="'heure: '+${{p.seance.heureDebut}}"></div>
								<div class="mb-1 text-muted" th:text="'prix: '+${p.prix}"></div>
								<div class="mb-1 text-muted"
									th:text="${{p.salle.name}} + ' ' + ${{p.salle.cinema.name}}">
								</div>
								<div class="mb-1 text-muted"
									th:text="${{p.salle.cinema.ville.name}}"></div>

								<div class="row mt-2">
									<div class="col-md-2 mr-4 themed-grid-col">
										<a sec:authorize="hasRole('ROLE_ADMIN')"
											class="btn btn-danger"
											onClick="javascript:return confirm('Etes vous sûre ?')"
											th:href="@{deleteProjection(id=${p.id},page=${currentPage},size=${size},name=${name})}">
											<svg class="bi bi-trash" width="1em" height="1em"
												viewBox="0 0 16 16" fill="currentColor"
												xmlns="http://www.w3.org/2000/svg">
                                    	<path
													d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                    	<path fill-rule="evenodd"
													d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                		</svg>
										</a>
									</div>
									<div class="col-md-2 themed-grid-col">
										<a sec:authorize="hasRole('ROLE_ADMIN')"
											class="btn btn-warning" th:onclick="|myFunction(${p.id})|"><svg
												class="bi bi-pencil-square" width="1em" height="1em"
												viewBox="0 0 16 16" fill="currentColor"
												xmlns="http://www.w3.org/2000/svg">
                                    	<path
													d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                    	<path fill-rule="evenodd"
													d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                		</svg></a>
									</div>
								</div>
							</div>
							<div>
								<img style="width: 182px; height: 268px;"
									class="card-img-center flex-auto d-none d-lg-block "
									th:src="@{'http://localhost:8080/imageFilm/'+${p.film.id}}">
							</div>
						</div>







						<div style="Display: none"
							class="card flex-md-row mb-2 shadow-sm h-md-250 mr-2 ml-2"
							th:id=" 'update' + ${p.id}">
							<div class="card-body d-flex flex-column align-items-start ">
								<form th:action="@{updateProjection}" method="get"
									class=" w-100">
									<div>
										<select class="form-control-sm" name="nf">
											<option th:each="film : ${films}" th:text="${film.titre}"
												th:value="${film.id}"
												th:selected="(${film.titre} == ${p.film.titre})"></option>

										</select>
									</div>
									<div>
										<input type="date" name="dp"
											th:value="${#dates.format(p.dateProjection, 'yyyy-MM-dd')}"
											max="2099-12-31" min="1800-01-01" class="form-control-sm">

									</div>

									<div>
										<select class="form-control-sm" name="seance">
											<option th:each="seance : ${seances}"
												th:text="${seance.heureDebut}" th:value="${seance.id}"
												th:selected="(${seance.heureDebut} == ${p.seance.heureDebut})">
											</option>

										</select>
									</div>
									<div>
										<input type="number" step="0.01" name="prix"
											th:value="${p.prix}" class="form-control-sm">
									</div>



									<div style="Display: none">
										<input type="text" name="page" th:value="${currentPage}">
										<input type="text" name="name" th:value="${name}"> <input
											type="text" name="size" th:value="${size}"> <input
											type="text" name="id" th:value="${p.id}">
									</div>
									<div>
										<button class="btn btn-success ml-2 mt-2"
											th:onclick="|myFunction(${p.id})|">
											<svg class="bi bi-check2" width="1em" height="1em"
												viewBox="0 0 16 16" fill="currentColor"
												xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
													d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                                    </svg>
										</button>
									</div>
								</form>
							</div>

							<div>
								<img style="width: 182px; height: 268px;"
									class="card-img-center flex-auto d-none d-lg-block "
									th:src="@{'http://localhost:8080/imageFilm/'+${p.film.id}}">
							</div>
						</div>

					</div>

				</div>
				<div>
					<ul class="pagination d-flex flex-wrap ">
						<li th:each="page,status:${pages}"
							th:class="${status.index==currentPage?' page-item active ':' page-item'}">
							<a class="page-link"
							th:href="@{projection(page=${status.index}, size=${size}, name=${name})}"
							th:text="${status.index}"></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="ajouter" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Ajouter Un Film</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form th:action="@{addProjection}" method="get">
						<div class="form-group">
							<label>Film</label> <select class="form-control" name="nf">
								<option th:each="film : ${films}" th:text="${film.titre}"
									th:value="${film.id}"></option>

							</select>
						</div>
						<div class="form-group">
							<label>Date Projection</label> <input type="date" name="dp"
								max="2099-12-31" min="1800-01-01" class="form-control">
						</div>
						<div class="form-group">
							<label>Seance </label> <select class="form-control" name="seance">
								<option th:each="seance : ${seances}"
									th:text="${seance.heureDebut}" th:value="${seance.id}">
								</option>

							</select>
						</div>

						<div class="form-group">
							<label>Prix </label> <input type="number" step="0.01" name="prix"
								class="form-control">
						</div>
						<div class="form-group">
							<label>Salle </label> <select class="form-control" name="salle">
								<option th:each="salle : ${salles}"
									th:text="${salle.name}+'-'+${salle.cinema.name}+'-'+${salle.cinema.ville.name}"
									th:value="${salle.id}"></option>

							</select>
						</div>



						<div style="Display: none">
							<input class="col-1" type="text" name="page"
								th:value="${currentPage}" /> <input class="col-1" type="text"
								name="name" th:value="${name}" /> <input class="col-1"
								type="text" name="size" th:value="${size}" />
						</div>
						<div class="row justify-content-end mt-2">
							<button type="button" class="btn btn-secondary mr-2"
								data-dismiss="modal">Annuler</button>
							<button type="submit" class="btn btn-primary mr-3 col-3">Ajouter</button>
						</div>
					</form>
				</div>

			</div>
		</div>
	</div>




	<script>
		function myFunction(id) {

			var o = "update";
			var p = "projection";
			var u = o.concat(id);
			var f = p.concat(id);
			var x = document.getElementById(u);
			var y = document.getElementById(f);

			if (x.style.display === "none") {
				x.style.display = "flex";
				y.style.display = "none";
			} else {
				y.style.display = "flex";
				x.style.display = "none";
			}

		}
	</script>


</body>
</html>